<div class="mt-4 p-5 jumbotron">
    <h2>Ajouter un item</h2>
    <form id="add">
        <input type="text" name="name" placeholder="Nom de l'item" class="form-control">
        <input type="number" name="price" placeholder="Prix de l'item" class="form-control mt-2">
        <button type="submit" class="btn btn-success mt-2">Ajouter</button>
    </form>
</div>
