<div class="mt-4 p-5 bg-danger rounded">
    <h2>Supprimer un item</h2>
    <form action="/users/removebyid" method="post">
        <input type="number" name="id" placeholder="ID de l'item" class="form-control">
        <button type="submit" class="btn btn-secondary mt-2">Supprimer</button>
    </form>
    <form action="/users/removebyname" method="post">
        <input type="text" name="name" placeholder="Nom de l'item" class="form-control mt-2">
        <button type="submit" class="btn btn-secondary mt-2">Supprimer</button>
    </form>
</div>